<div class="container" (contextmenu)="__elementSelectionService.select('979222896',$event)" [ngStyle]="__elementSelectionService.getStyles('979222896')"(click)='__elementSelectionService.clear()'>
	<header (contextmenu)="__elementSelectionService.select('54460731',$event)" [ngStyle]="__elementSelectionService.getStyles('54460731')"></header>
	<router-outlet (contextmenu)="__elementSelectionService.select('639738445',$event)" [ngStyle]="__elementSelectionService.getStyles('639738445')"></router-outlet>
</div>