<div class="container" (contextmenu)="__elementSelectionService.select('412320578',$event)" [ngStyle]="__elementSelectionService.getStyles('412320578')"(click)='__elementSelectionService.clear()'>
	<header (contextmenu)="__elementSelectionService.select('146378176',$event)" [ngStyle]="__elementSelectionService.getStyles('146378176')"></header>
	<router-outlet (contextmenu)="__elementSelectionService.select('1007028928',$event)" [ngStyle]="__elementSelectionService.getStyles('1007028928')"></router-outlet>
</div>