/* You can add global styles to this file, and also import other style files */
$white: #ffffff;
$blue: #008CBA;
$black: #000000;
$font-family: 'Trebuchet MS', sans-serif;
$control-padding: 20px;
$font-small-size: 8px;
$font-medium-size: 12px;
$font-large-size: 15px;
$control-margins: 4px 2px;
$control-border: 1px solid #ccc;
$border-radius: 5px;

/* basic component styles */
body{
	font-family: $font-family;
	background-color: $black;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid green; 
}

.rounded-box {
  border-radius: $border-radius;
  color: $white;
  padding: 20px;
}

/* basic form control styles */
.button {
	background-color: $white;
	border: none;
	color: $black;
	padding: $control-padding;
	border-radius: $border-radius;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: $font-medium-size;
	margin: $control-margins;
	cursor: pointer;
}

.button:hover{
	opacity: 0.5;
}

.button.blue-button{
	background-color: $blue;
}

.form-control {
	width: 100%;
	padding: $control-padding;
	margin: $control-margins;
	display: inline-block;
	border: $control-border;
	border-radius: $border-radius;
	box-sizing: border-box;
}