
<div class="flex" (contextmenu)="__elementSelectionService.select('1734508280',$event)" [ngStyle]="__elementSelectionService.getStyles('1734508280')"(click)='__elementSelectionService.clear()'>
	<h3 class="flex-col-50" (contextmenu)="__elementSelectionService.select('268171317',$event)" [ngStyle]="__elementSelectionService.getStyles('268171317')">
		{{title?.code}} - {{title?.longName}}	
	</h3>
	<div class="flex-col-50" (contextmenu)="__elementSelectionService.select('407754660',$event)" [ngStyle]="__elementSelectionService.getStyles('407754660')">
		<a class="button button-blue" [routerLink]="['/converter/home']" (contextmenu)="__elementSelectionService.select('1522417361',$event)" [ngStyle]="__elementSelectionService.getStyles('1522417361')">
			Back To Home
		</a>
	</div>
</div>


<converter-panel [showMore]="false" [conversionRate]="conversionRate" (onChange)="onDrawCurrencyChart($event)" (contextmenu)="__elementSelectionService.select('659093564',$event)" [ngStyle]="__elementSelectionService.getStyles('659093564')"(click)='__elementSelectionService.clear()'>
</converter-panel>



<currency-chart [conversionRate]="conversionRate" (contextmenu)="__elementSelectionService.select('2083883843',$event)" [ngStyle]="__elementSelectionService.getStyles('2083883843')"(click)='__elementSelectionService.clear()'>
</currency-chart>
