<div class="flex center" (contextmenu)="__elementSelectionService.select('274010257',$event)" [ngStyle]="__elementSelectionService.getStyles('274010257')"(click)='__elementSelectionService.clear()'>
	<div class="flex-col-50 text-left" (contextmenu)="__elementSelectionService.select('417798553',$event)" [ngStyle]="__elementSelectionService.getStyles('417798553')">Hello</div>
	<div class="flex-col-50 text-right" (contextmenu)="__elementSelectionService.select('196955832',$event)" [ngStyle]="__elementSelectionService.getStyles('196955832')">Leiney</div>
</div>