/* You can add global styles to this file, and also import other style files */
$white: #ffffff;
$red: #e60000;
$blue: #008CBA;
$black: #000000;
$font-family: 'Trebuchet MS', sans-serif;
$control-padding: 10px;
$control-padding-large: 20px;
$font-small-size: 8px;
$font-medium-size: 12px;
$font-large-size: 15px;
$control-margins: 4px 2px;
$control-border: 1px solid $white;
$border-radius: 5px;

/* basic component styles */
body{
	font-family: $font-family;
	background-color: $black;
	color: $white;
}

/* main container holder styles */
.container{
	max-width: 800px; 
	margin-left: auto;
    margin-right: auto;
}

/* layout alignment styles */
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
    margin-right: auto;
}

/* text alignment styles */
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

/* rounded box styles */
.rounded-box {
  border: 3px solid $white; 
  border-radius: $border-radius;
  color: $white;
}

.rounded-box.padded{
	padding: $control-padding-large;
}

/* basic flex grid with equal sized columns */
.flex {
  display: flex;
  flex-direction: row;
  text-align: center;
}

/* automatically overflow to the next row if items can't fit*/
.flex.wrap {
  flex-wrap: wrap;
}

.flex .flex-col-75 {
  padding: $control-padding;
  flex: 75%;
}

.flex .flex-col-66 {
  padding: $control-padding;
  flex: 66%;
}

.flex .flex-col-50 {
  padding: $control-padding;
  flex: 50%;
}

.flex .flex-col-33 {
  padding: $control-padding;
  flex: 33.33%;
}

.flex .flex-col-25 {
  padding: 10px;
  flex: 25%;
}

.flex .flex-col-50:first-child, 
.flex .flex-col-33:first-child, 
.flex .flex-col-25:first-child,  
.flex .flex-col-66:first-child,
.flex .flex-col-75:first-child {
	text-align: left;
}

.flex .flex-col-50:last-child, 
.flex .flex-col-33:last-child,  
.flex .flex-col-25:last-child,  
.flex .flex-col-66:last-child,
.flex .flex-col-75:last-child {
	text-align: right;
}

/* basic form control styles */
.button {
	background-color: transparent;
	border: $control-border;
	color: $white;
	padding: $control-padding;
	border-radius: $border-radius;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: $font-medium-size;
	margin: $control-margins;
	cursor: pointer;
}

.button:hover{
	opacity: 0.5;
}

.button.button-blue{
	background-color: $blue;
	color: $black;
}

.form-control {
	width: 100%;
	padding: $control-padding;
	margin: $control-margins;
	display: inline-block;
	border: $control-border;
	border-radius: $border-radius;
	box-sizing: border-box;
}

.invalid-feedback{
	color: $red;
	font-size: $font-medium-size;
}
.converter-icon{
	margin-top: 20px;
}